body {
    font-family: "DM Sans", sans-serif;
    background-color: #ffffff;
}

.logo {
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #5d5a88;
    line-height: 18px;
}

.logo img {
    height: 70px;
    margin-right: 10px;
    margin-left: 50px;
}

.desc {
    color: #9795b5;
    font-size: 18px;
    line-height: 30px;
}

.health-card {
    background-color: #5d5a88;
    color: white;
    height: 590px;
    width: 594px;
    border-radius: 15px;
    padding: 30px;
    text-align: left;
}

.achievement-icon {
    margin-left: -30px;
    padding-top: 30px;
}

.achievement-percentage {
    font-size: 72px;
    font-weight: bold;
}

.metric-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    height: 284px;
    width: 284px;
    text-align: left;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.metric-title {
    color: #5d5a88;
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 20px;
    font-weight: bold;
}

.metric-value {
    font-size: 28px;
    color: #5d5a88;
    font-weight: bold;
}

.metric-unit {
    font-size: 28px;
    color: #bcbacd;
    font-weight: bold;
}

.metric-point {
    font-size: 18px;
    line-height: 24px;
    color: #5d5a88;
    font-weight: bold;
}

.metric-desc {
    font-size: 18px;
    line-height: 24px;
    color: #bcbacd;
    font-weight: bold;
}

.arrow-btn {
    position: absolute;
    top: 62%;
    right: -55px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

/* Animation Styling */
.fade-out-left {
    animation: fadeOutLeft 0.5s forwards;
}

.fade-in-left {
    animation: fadeInLeft 0.5s forwards;
}

.fade-out-right {
    animation: fadeOutRight 0.5s forwards;
}

.fade-in-right {
    animation: fadeInRight 0.5s forwards;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
